name: CI Tests

on:
  pull_request:
    types: [ opened, reopened, synchronize, labeled ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '20'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Run tests
        env:
          VITEST: '1'
        run: npm test -- --reporter=dot
